@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#../fonts/Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    font-family:'Roboto', sans-serif;
    padding-bottom: 190px;
}
input,
select,
textarea{
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    width: 83.2%;
}
h1{
    color: #1f222c;
    font: 700 30px "Roboto Slab";
    text-align: center;
}
h2{
    color: #b3b3b3;
    letter-spacing: 0px;
    font: 700 20px "Roboto";
    text-transform: uppercase;
}
hr{
    margin: 48px 0;
    border: none;
    border-top: 1px solid #dcdcde;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
p{
    margin: 10px 0;
}
textarea{
    resize: vertical;
}
/*01. проста форма*/

.simple-form{
    max-width: 330px;
    width: 100%;
}
.simple-select,
.tform-select,
.tform-select5{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}
/*.simple-select:before{
    content: '';
    position: absolute;
    right: 20px;
    top: 14px;
    border: 3px solid transparent;
    border-right-color: #1f222c;
    border-bottom-color: #1f222c;
    transform: rotate(45deg);
    z-index: 0;
}
*/
.simple-select:before,
.tform-select:before,
.tform-select5:before{
    content: '';
    position: absolute;
    right: 20px;
    top: 17px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 5px solid #1f222c;
    display: block;
    z-index: 0;
}
.simple-select select,
.town-select,
.country-select{
    position: relative;
    background-color: transparent;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    z-index: 1;
    cursor: pointer;
}
.option-simple,
.option-tform,
.option-tform5{
    color: #1f222c;
    font: 400 14px "Roboto";
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea{
    padding: 12px 15px 9px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}
::-webkit-input-placeholder{
    color: #b3b3b3;
    font: 400 14px "Roboto";
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus{
    color: #1f222c;
    font: 400 14px "Roboto";
    box-shadow: 0 0 2.5px rgba(62,106,255,0.55);
    border: 1px solid #3e6aff;
    outline: none;
}
.simple-textarea{
    max-width: 330px;
    height: 130px;
    max-height: 200px;
    min-height: 50px;
}
.simple-button,
.tform-button{
    padding: 15px 15px 12px;
}
.simple-button,
.tform-button,
.tform5-submit,
.fixed-submit{
    color: #fff;
    background-color: #12d661;
    border: none;
}
input[type="submit"],
input[type="reset"]{
    font: 700 14px "Roboto";
    width: 100%;
    border-radius: 3px;
    text-align: center;
}
input[type="submit"]:hover{
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    outline: none;
    background-color: #07be51;
    cursor: pointer;
}

/* form2 */
.date_status{
    width: 49%;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.radio-buttons,
.check-buttons,
.date_status{
    float: left;
    vertical-align: top;
}
.radio-buttons p:first-child,
.check-buttons p:first-child{
    margin-top: 0;
}
.radio-buttons{
    width: 16.5%;
}
.check-buttons{
    width: 34.3%;
}
.delivery,
.delivery2,
.radio-man,
.radio-woman,
.other,
.r-men,
.r-women,
.agree,
.remember_pw{
    position: absolute;
    display: none;
}
.agree+label,
.r-men+label,
.r-women+label,
.delivery+label,
.delivery2+label{
    position: relative;
    padding-left: 25px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.delivery:disabled+label:before,
.delivery2:disabled+label:before{
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    opacity: 0.7;
}
.delivery:disabled+label,
.delivery2:disabled+label{
    color: #b3b3b3;
}
.r-men+label:before,
.r-women+label:before,
.delivery+label:before{
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 16px;
    height: 16px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
}
.remember_pw:checked+label:before,
.agree:checked+label::before,
.r-men:checked+label:before,
.r-women:checked+label:before,
.delivery:checked+label:before,
.delivery2:checked+label:before{
    border-color: #3e6aff;
}
.r-men:checked+label:after,
.r-women:checked+label:after,
.delivery:checked+label:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 3px;
    border-radius: 50%;
    background-color: #3e6aff;
}
.remember_pw+label:before,
.agree+label:before,
.delivery2+label:before{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: -2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.remember_pw:checked+label:after,
.agree:checked+label:after,
.delivery2:checked+label:after{
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    width: 7px;
    height: 4px;
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    border-radius: 5px;
    transform: rotate(-45deg);
}
.date_status span{
    display: inline-block;
    width: 82px;
    color: #b3b3b3;
    font-family: 700 14px "Roboto";
}
.status{
    padding: 21px 20px 11px;
    white-space: normal;
}
.date_{
    padding: 0 20px 20px;
}
.date_status p{
    margin: 0;
}
.data,
.data:focus{
    padding: 10px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
::-webkit-calendar-picker-indicator {
    background-image: url(../img/calendar.png);
    outline: none;
}
.date_status .delivery2+label{
    margin-right: 20px;
}



/*03. стилізовані чекбокси*/

.st-checks{
    margin-bottom: 60px;
}
.style-radio{
    max-width: 440px;
    width: 100%;
}
.style-radio,
.style-check{
    float: left;
    vertical-align: text-bottom;
}
.radio-man+label,
.radio-woman+label{
    position: relative;
    padding-left: 82px;
    color: #1f222c;
    font: 700 16px "Roboto";
}
.radio-man:checked+label,
.radio-woman:checked+label{
    color: #3e6aff;
}
.other+label{
    position: relative;
    padding-left: 62px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.radio-man+label:before,
.radio-woman+label:before,
.radio-man:checked+label:before,
.radio-woman:checked+label:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -27px;
    background: url(../img/style-check.png) no-repeat;
}
.radio-man+label:before{
    background-position: 0 0;
}
.radio-woman+label:before{
    background-position: -96px 0;
}
.radio-man:checked+label:before{
    background-position: 0 -96px;
}
.radio-woman:checked+label:before{
    background-position: -97px -96px;
}
.style-radio p{
    margin: 55px 0;
}
.style-check p:first-child,
.style-radio p:first-child{
    margin-top: 0;
}
.style-radio p:last-child{
    margin-bottom: 16px;
}
.style-check p:not(p:last-child){
    margin-bottom: 30px;
}
.other+label:before{
    content: '';
    position: absolute;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
    left: 0;
    top: -5px;
    transition: all .5s ease;
}
.other:checked+label:before{
    background-color: #3e6aff;
}
.other+label:after{
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    box-shadow: 0 0 2.5px rgba(0,0,0,0.5);
    background-color: #fff;
    left: 2.5px;
    top: -3px;
    transition: all .5s ease;    
}
.other:checked+label:after{
    left: 22.5px;
}

/*04. форма таблицею*/

.form-table{
    width: 49%;
}
.table_form{
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}
.table_form .width-labelf4{
    display: inline-block;
    width: 32%%;
}
.width-form4{
    width: 68%%;
}


.tform-heading{
    color: #1f222c;
    font: 700 18px "Roboto"
}
.fullname{
    text-transform: uppercase;
}
.tform-text{
    padding: 12px;
}
.table_form td:not(.tform-heading):not(td:last-child){
    width: 32%%;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.table_form td:last-child{
    width: 68%;
}
.tform-select:before{
    top: 5px;
    right: -317px;
}
.town-select,
.country-select{
    color: #1f222c;
    font-family: 400 14px "Roboto";
}
.r-men+label{
    margin-right: 20px;
}
.upload-button{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.upload{
    display: none;
}
.upload-file{
    display: block;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 68%;
    width: 50%;
    text-align: center;
    color: #fff;
    font: 700 14px "Roboto";
    border-radius: 3px;
    background-color: #3e6aff;
}
.upload-file:hover{
    box-shadow: 0px 2px 2.5px rgba(15,40,126,0.35);
    background-color: #2857f4;
}
.upload-file:hover{
    cursor: pointer;
}
.tform-textarea{
    padding: 15px 15px 12px;
    height: 130px;
    min-height: 50px;
    max-height: 200px;
    color: #b3b3b3;
    font: 400 14px "Roboto";
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.table_form tr{
    vertical-align: text-bottom;
}
.table_form td{
    padding-bottom: 15px;
}
.table_form td:first-child{
    padding-bottom: 20px;
}
.tform-commit{
    vertical-align: top;
}
.tform-commit label{
    display: inline-block;
    padding-top: 15px;
    top: 15px;    
}


/*05. форма таблицею*/

.form-table5{
    max-width: 680px;
    width: 100%;
}
.tf1,
.tf2{
    width: 100%;
    border-collapse: collapse;
}
/*.table5,
select.country-select{
    padding: 10px 15px;
    max-width: 220px;
    width: 100%;
    color: #1f222c;
    font: 400 14px "Roboto";
    border-radius: 3px;
    border: 1px solid #ccc;
}*/
.adds{
    max-width: 450px;
}
.tf1 label,
.tf2 label{
    color: #b3b3b3;
    font: 400 13px "Roboto";
}

.tform-select5:before{
    right: 23px;
    top: 39px;
}
.tform-select5:after{
    content: '';
    position: absolute;
    top: 30px;
    right: 40px;
    width: 1px;
    height: 19px;
    background-color: #ccc;
}
.tf2 .accept{
    color: #1f222c;
    font: 400 14px "Roboto";
}
.tf1 tr:nth-child(even) td,
.tf2 tr:nth-child(odd) td{
    padding: 15px 0 5px;    
}
.form-table5 hr{
    margin-top: 0;
    border: 1px solid transparent;
    border-top-color: #e9e9e9;
}
.hr-line1{
    margin-bottom: 7px;
}
.tf2 tr:nth-child(4) td{
    padding-bottom: 7px;
}
.tf1,
.hr-line2{
    margin-bottom: 30px;
}
.tf2{
    margin-bottom: 20px;
}
.tf1 tr:nth-child(odd) td,
.tf2 tr:nth-child(even) td{
    padding-right: 10px;
}
.tform5-submit{
    float: right;
    padding: 13px 5px 12px;
    max-width: 180px;
}
.tform5-back{
    padding: 13px 5px 12px;
    max-width: 180px;
    color: #6e6f77;
    background-color: #fff;
    border: 1px solid #85868d;
    outline: none;
}
.tform5-back:hover{
    color: #fff;
    background-color: #85868d;
    cursor: pointer;
}

/*06. фіксована форма*/

.fixed-forma{
    position: fixed;
    top: 62px;
    left: auto;
    right: 8.4%;
    max-width: 310px;
    width: 100%;
}
.fixed_form{
    max-width: 310px;
    width: 100%;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.15);
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
}
.form6{
    padding-left: 25px;
}
#close-form6{
    visibility: hidden;
    position: absolute;
}
#close-form6+label{
    position: relative;
}
#close-form6+label:before{
    content: "+";
    position: absolute;
    top: 60px;
    left: 289px;
    font-size: 20px;
    color: #b3b3b3;
    z-index: 2;
}
#close-form6+label:after{
    content: '';
    position: absolute;
    top: 65px;
    left: 287px;
    width: 13px;
    height: 13px;
    border: 1px solid transparent;
}
#close-form6+label:hover:after{
    border: 1px solid #3e6aff;;
    border-radius: 3px;
    background-color: #3e6aff;
}
#close-form6+.close:hover:before{
    color: #fff;
}
#close-form6+label:before{
    transform: rotate(45deg);
}
#close-form6:checked+label{
    background-color: transparent;
}
#close-form6:checked+label:before{
    content: "Open form";
    padding: 10px;
    top: 62px;
    right: 15.4%;
    width: 260px;
    height: auto;
    color: #fff;
    font: 700 14px "Roboto";
    text-align: center;
    background-color: #12d661;
    border-radius: 5px;
    transform: rotate(0deg);
}
#close-form6:checked+label:hover:before{
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}
#close-form6:checked+label:after{
    display: none;
}
#close-form6:checked~h2,
#close-form6:checked~.fixed_form6{
    display: none;
}
.fixed{
    padding: 10px;
    max-width: 260px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.fixed-label{
    color: #b3b3b3;
    font: 400 13px "Roboto";
}
.forget_pw{
    color: #3e6aff;
    font: 400 13px "Roboto";
    text-decoration: none;
}
.remember-label{
    color: #1f222c;
    font: 400 13px "Roboto";
}
.remember_pw+label{
    position: relative;
    padding-left: 25px;
}
.p-pw{
    padding-bottom: 6px;
}
.fixed-submit{
    padding: 10px;
    margin-bottom: 20px;
    max-width: 260px;
    width: 100%;
    border-radius: 3px;
    background-color: #12d661;
    color: #fff;
    font: 700 14px "Roboto";
    text-align: center;
    border: none;
}
.fixed_form6 label,
.forget_pw{
    position: relative;
    display: inline-block;
    width: 100%;
}
.fixed-span,
.remember-label{
    position: absolute;
    top: -7px;
}
.fixed_span6{
    position: absolute;
    bottom: 0;
}
.remember-label{
    position: absolute;
    top: 6px;
}
.fixed-button{
    position: absolute;
    top: 6px;
}
.fixed_form6 p{
    margin: 9px 0;
}








